.projects {
  padding: 24px;
  max-width: 1366px;
  margin: 0 auto;

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      display: flex;
      flex-direction: column;
    }
  }
}
