.horizontalScroll-gallery {
  position: relative;
  height: 300vh;

  .horizontalScroll-gallery__sticky {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100vh;

    .horizontalScroll-gallery__flex {
      display: flex;
      gap: 24px;
    }
  }
}
