.navbar {
  max-width: 1366px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 100px;

  span {
    font-weight: bold;
    font-size: 24px;
  }

  .navbar__links {
    display: flex;
    gap: 20px;
  }
}
