.hero {
  max-width: 1366px;
  margin: 0 auto;
  height: calc(100vh - 100px);
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  h2 {
    color: #bfa181;
  }

  .hero__buttons {
    display: flex;
    gap: 20px;
  }
}
