* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle at center, #0a1828, #000);
  background-attachment: fixed;
  color: #fff;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;

  a {
    text-decoration: none;
    color: inherit;
  }

  section {
    min-height: 100vh;
    scroll-snap-align: center;
  }

  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 30px;
  }

  h5 {
    font-size: 20px;
    font-weight: normal;
  }

  p {
    font-size: 18px;
  }

  .underline {
    height: 4px;
    background-color: #bfa181;
  }
}
