@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin smtablet {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1380px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle at center, #0a1828, #000);
  background-attachment: fixed;
  color: #fff;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;

  a {
    text-decoration: none;
    color: inherit;
  }

  section {
    min-height: 100vh;
  }

  h1 {
    font-size: 5rem;

    @include mobile {
      font-size: 4.5rem;
    }
  }

  h2 {
    font-size: 3.5rem;
    @include mobile {
      font-size: 3rem;
    }
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.85rem;
  }

  h5 {
    font-size: 1.25rem;
    font-weight: normal;
  }

  h6 {
    font-weight: normal;
  }

  p {
    font-size: 1.15rem;
  }

  .underline {
    height: 4px;
    background-color: #bfa181;
  }
}
